{% extends "layout.html"%} {% block content %}
<div class="jumbotron">
  <h1 class="display-4">About</h1>
  <p class="lead">Bienvenidos a esta, otra página más acerca del COVID-19</p>
  <hr class="my -4" />
  <p>
    A lo largo de esta página web encontrarás distintas gráficas que reflejan
    estadísticas acerca del COVID-19 al rededor del mundo.
  </p>
</div>

<img
  class="img_graph"
  src="../img/muertes_colombia.png"
  alt="muertes_colombia"
/>
<img
  class="img_graph"
  src="../img/muertes_continente.png"
  alt="muertes_continente"
/>
<img
  class="img_graph"
  src="../img/muertes_no_pobres.png"
  alt="muertes_no_pobres"
/>
<img class="img_graph" src="../img/muertes_pobres.png" alt="muertes_pobres" />
{% endblock %}
