{% extends "layout.html"%} {% block content %}
<div class="jumbotron">
  <h1 class="display-4">About</h1>
  <p class="lead">Aqui deberia ir un subtitulo que indicar algo</p>
  <hr class="my -4" />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
    nostrum ipsa repellat, in eius tempore repudiandae fuga iure culpa. Itaque
    ab harum distinctio natus deserunt. Deserunt ut consequatur mollitia
    numquam?
  </p>
  <a class="btn" href="#" role="button">Learn more</a>
</div>
<script src="" async defer></script>

{% endblock %}
