{% extends "layout.html"%} {% block content %}
<header>Pagina Principal</header>
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Aqui deberia ir un subtitulo que indicar algo</p>
  <hr class="my -4" />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit aliquid,
    vel dolore culpa quibusdam necessitatibus quisquam, sunt dolores non
    officiis qui ea assumenda corrupti eum, nemo ratione porro. Fuga, mollitia!
  </p>
  <a class="btn" href="#" role="button"> Mostrar</a>
</div>
<script src="" async defer></script>

{% endblock %}
